<section >
    <div class="  my-bg p-5">
        <div class="row row-cols-1 row-cols-md-3  text-center">
            <div>
                <h3>LOCATIN</h3>
                <p>2215 John Daniel Drive</p>
                <p>Clark, MO 65243</p>
            </div>
            <div>
                <h3>AROUND THE WEB</h3>
                <span class="btn btn-outline-light btn-floating m-1 rounded-circle"><i class="fa-brands fa-facebook"></i></span>
                <span class="btn btn-outline-light btn-floating m-1 rounded-circle"><i class="fa-brands fa-twitter"></i></span>
                <span class="btn btn-outline-light btn-floating m-1 rounded-circle"><i class="fa-brands fa-linkedin-in"></i></span>
                <span class="btn btn-outline-light btn-floating m-1 rounded-circle"><i class="fa-solid fa-globe"></i></span>
            </div>
            <div>
                <h3>ABOUT RFEELANCER</h3>
                <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            </div>
        </div>
        
    </div>
</section>

    <div class=" text-center my-bg2 text-white p-3 ">
        <p>Copyright © Your Website 2021</p>
    </div>
