<section
  class="my-bg text-white d-flex flex-column justify-content-center align-items-center vh-100"
>
  <div class="container">
    <h2 class="fw-bold text-center">ABOUT COMPONENT</h2>
    <div class="d-flex justify-content-center align-items-center my-3">
      <div class="line"></div>
      <span class="mx-2 fs-4">★</span>

      <div class="line"></div>
    </div>
    <div class="row text-center">
      <div class="col-md-6">
        <p>
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </p>
      </div>
      <div class="col-md-6">
        <p>
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </p>
      </div>
    </div>
  </div>
</section>
