<nav class="navbar navbar-expand-lg my-nav bg-dark navbar-dark fw-bold fixed-top ">
    <div class="container p-3 ">
      <a class="navbar-brand fs-3"  routerLink="/home" >START FRAMEWORK</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav mx-auto fs-5 ">
        
          <li class="nav-item">
            <a class="nav-link" routerLink="/about" routerLinkActive="my-bg rounded" >ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/portfolio" routerLinkActive="my-bg rounded" >PORTFOLIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" routerLinkActive="my-bg rounded" >CONTACT</a>
          </li>
        
        </ul>
      </div>
    </div>
  </nav>