<section
  class="my-bg d-flex flex-column justify-content-center align-items-center vh-100 "
>
  <div class="container ">
    <h2 class="fw-bold text-center">CONTACT SECTION</h2>
    <div class="d-flex justify-content-center align-items-center my-3">
      <div class="line"></div>
      <span class="mx-2 fs-4">★</span>

      <div class="line"></div>
    </div>

    <div class="wrapper">
      <div class="input-data">
        <input type="text" required />
        <label>userName</label>
      </div>
    </div>
    <hr />
    <br />
    <div class="wrapper">
      <div class="input-data">
        <input type="number" required />
        <label>userAge</label>
      </div>
    </div>
    <hr />
    <br />
    <div class="wrapper">
      <div class="input-data">
        <input type="text" required />
        <label>userEmai</label>
      </div>
    </div>
    <hr />
    <br />
    <div class="wrapper">
      <div class="input-data">
        <input type="password" required />
        <label>userPassword</label>
      </div>
    </div>
    <hr />
    <br />
    <br />

    <button type="button" class="btn btn-primary btn-lg my-bg-bt">
      Send Message
    </button>
  </div>
</section>
